body {
  padding:0px;
  margin:0px;
}

.app {
  font-family: "Arial", sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

h1 {
  display: none; /* Hides the default heading */
}

.palette {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
